.app{
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerbuttons{
    display: flex;
    gap: 2rem;
    width: 100%;


}

.group {
    display: flex;
    flex-direction: column;
}

.userCard{
    border-radius: 20px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(147, 147, 147);
    margin-bottom: 20px;
    padding-left: 1rem;
}

